@import "../abstracts/variables";


.btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    &__primary {
        border: solid 1px;
        &:hover{
            color: $white-3;
            border-color: $white-3;
            border: solid 1px;
        }
    }
    &__secundary {
        background-color: $green-base;
        color: white;
        border: solid 1px;
        &:hover{
            color: $black-base;
            background-color: $white-base;
        }
    }
}