/* Importaciones */
@import "../abstracts/variables";
/* PT Mono */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto:wght@300&display=swap");

body{
    font-family: 'PT Mono', sans-serif;
}
.agere__text{
    font-family: $roboto;
}
.conocenos__texto{
    font-family: $roboto;
}
.data__text{
    font-family: $roboto;
}

/* cabeceras */
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
i{
    font-size: 5rem;
    color: #F0F8FF;
}