//definiendo nuestras variables 
$roboto: 'Roboto',sans-serif;
/* color botones */
/* blancos */
$white-base: #FFF;
$white-2: #EEEDED;
$white-3: #989797;
/* amarillos */
$yellow-base: #FA824C;
$yellow-1: #F1DD7B;
$yellow-2: #F5E7A1;
/* Rojos */
$red-base: #E4572E;
$red-1: #E87554;
$red-2: #F2B2A0;
/* verdes */
$green-base :#4CA866;
$green-1: #9DCFAB;
$green-2:#BDDFC7;
/* Azules */
$blue-base: #3C91E6;
$blue-1: #5FA5EA;
$blue-2: #82B9EF;
/* negros */
$black-base: #000000;
$black-1: #454545;
$black-2: #A2A2A2;